

html {
  min-width: 250px !important;
  background: #5e35b1;
}


body {
  min-width: 250px !important;
  background: #5e35b1;
}

::selection {
    color: #fff;
    background: #dce775;
}

::-moz-selection {
    color: #fff;
    background: #dce775;
}

::-webkit-selection {
    color: #fff;
    background: #dce775;
}

textarea {
  outline: none;
}
